/*start side section*/
.side {
	width: 15%;
	background-color: #f8f8f8;
}

.profile {
	text-align: center;
	margin-bottom: 10px;
}

.profile_user {
	width: 100px;
	margin: 20px 0px 10px 0px;
	border-radius: 70%;
}

.side_menu {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-left: 20px;
	height: 50px;
	font-size: 15px;
	/* background: #33383e; */
	background: #0c4b33;
	border-bottom: 1px solid lightgray;
	color: white;
}

.side_menu i {
	color:white;
	margin-right: 10px;
}

.side_menu a {
	color: white;
}

.side_menu a:hover {
	color: orange;
}
/*end side section*/