<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--
    <link rel="stylesheet" href="/css/board_reg.css">
    <link rel="stylesheet" href="/css/static.css">
    -->
</head>
<body>
    <div class="header">
        <a href="/member/login" class="btn">로그인</a>
        <a href="/member/register" class="btn">
            회원가입
        </a>
    </div>
    <div class="side">
        <a href="#">게시판</a>
    </div>

    <div class="container_align">
		<div class="container">
            <h2>게시글 수정</h2>
            <label for="title" class="title"><b>제목</b></label>
            <input type="text" name="title"></input>
            <br>
            
            <label for="writer_id" class="title"><b>작성자</b></label>
            <span name="writer_id">김용환</span>
            <br>
            
			<label for="regdate" class="title"><b>작성일</b></label>
            <span name="regdate">2021.01.18</span>
            <br>

            <label for="files" class="title"><b>첨부파일</b></label>
			<input type="file" name="files"></input>
            <br>

			<label for="content" class="title"><b>내용</b></label>
            <textarea rows="5" cols="50" name="content">Hello World</textarea>
            <br>

            <div class="board_btn">
                <a href="#">수정</a>
                <a href="#">삭제</a>
                <a href="#">돌아가기</a>
            </div>
		</div>
	</div>
</body>
</html>