
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/static.css"> -->
    <link rel="stylesheet" href="/board/WebContent/css/index.css">
    <link rel="stylesheet" href="/board/WebContent/css/static.css">
    <script src="https://kit.fontawesome.com/f3e90f406f.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- todo : login 기능에서 request를 session으로 대체 -->
    <div class="header">

        <div class="header_column">
            <a href="/member/login">로그인</a>
            <a href="/member/register">회원가입</a>
        </div>
    </div>
    <div class="content">
        <div class="side">
            <div class="profile">
                <img src="/board/WebContent/images/user.png" alt="user" class="profile_user"><br>
                <span>user id</span>
            </div>
            <div class="side_menu">
                <i class="fas fa-clipboard"></i><a href="#">게시판</a>
            </div>
        </div>
        <div class="main">
            <div class="main_header">
                <h2>게시판</h2>
            </div>
            <div class="main_content">
                <table class="board_table">
                    <thead class="board_title">
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>날짜</th>
                            <th>조회수</th>
                            <th>구분</th>
                        </tr>
                    </thead>
                    <tbody class="board_content">
                        <tr class="board_row">
                            <td>1</td>
                            <td>제목1</td>
                            <td>김용환</td>
                            <td>2020.01.19</td>
                            <td>3</td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr class="board_row">
                            <td>1</td>
                            <td>제목1</td>
                            <td>김용환</td>
                            <td>2020.01.19</td>
                            <td>3</td>
                            <td><input type="checkbox"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="board_btn">
                    <a href="#" class="btn"><i class="fas fa-search"> 검색</i></a>
                    <a href="#" class="btn">글쓰기</a>
                    <a href="#" class="btn">일괄공개</a>
                    <a href="#" class="btn">일괄삭제</a>
                </div>
                <div class="board_page">
                    <a href="#">&lt; prev</a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">next &gt;</a>
                </div>
            </div>
            
        </div>
    </div>
    
    
</body>
</html>