.container_align {
	display: flex;
	justify-content: center;
}

.container {
	width: 50%;
	margin-top: 50px;
}

.title {
	display: inline-block;
	margin-bottom: 10px;
}

.post_content{
	width:100%;
}

input {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

input:focus {
	background-color: #ddd;
	outline: none;
}

.write_container {
	display: flex;
	justify-content: left;
}

.write_btn {
	background-color: #0c4b33;
	color: white;
	padding: 16px 20px;
	margin: 8px 0;
	margin-right: 5px;
	border: none;
	cursor: pointer;
	width: 20%;
	text-align: center;
	opacity: 0.9;
}

.write_btn:hover {
	opacity: 1;
}